@model ShopQuanAo.Models.Order
@{
    ViewData["Title"] = "Checkout";
}

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>
                <div class="p-3 p-lg-5 border">
                    <form asp-controller="Cart" asp-action="Checkout" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label asp-for="CustomerName" class="control-label"><span class="text-danger">Customer</span></label>
                                <input asp-for="CustomerName" class="form-control" placeholder="Customer Name" />
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label asp-for="Email" class="control-label"><span class="text-danger">Email</span></label>
                                <input asp-for="Email" class="form-control" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label asp-for="Address" class="control-label"><span class="text-danger">Address</span></label>
                                <input asp-for="Address" class="form-control" placeholder="Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label asp-for="Phone" class="control-label"><span class="text-danger">Phone</span></label>
                                <input asp-for="Phone" class="form-control" placeholder="Phone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Buy" class="btn btn-primary btn-lg py-3 btn-block" />
                        </div>
                        @*<div class="cart_navigation">
                            <a asp-controller="Cart" asp-action="PaypalCheckout">
                                <img src="~/images/paypal.png" height="100" />
                            </a>
                        </div>*@
                    </form>
                </div>
            </div>



            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.cart != null)
                                    {
                                        @foreach (var item in ViewBag.cart)
                                        {
                                            <tr>
                                                <td>@item.SanPham.TenSP<strong class="mx-2">x</strong> @item.SoLuong</td>
                                                <td>@item.SanPham.DonGia</td>
                                            </tr>

                                            <tr>
                                                <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                                <td class="text-black">@item.ThanhTien</td>
                                            </tr>

                                        }
                                    }
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold"><strong>@ViewBag.total</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Voucher</strong></td>
                                        <td class="text-black font-weight-bold"><strong>@ViewBag.voucher</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Total final</strong></td>
                                        <td class="text-black font-weight-bold"><strong>@ViewBag.final</strong></td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </form> -->