@model IEnumerable<ShopQuanAo.Models.Order>

@*@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGiam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <tr>
                            <th class="product-thumbnail">Customer</th>
                            <th class="product-name">CustomerName</th>
                            <th class="product-price">Total</th>
                            <th class="product-quantity">GiaGiam</th>
                            <th class="product-total">OrderDate</th>
                            <th class="product-remove">Status</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td class="product-thumbnail">
                            <h2 class="h5 text-black">@Html.DisplayFor(modelItem => item.KhachHang)</h2>
                        </td>
                        <td class="product-name">
                            <h2 class="h5 text-black">@Html.DisplayFor(modelItem => item.CustomerName)</h2>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                        <td>@Html.DisplayFor(modelItem => item.GiaGiam)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.StatusID)</td>
                        <td>
                            <a class="btn btn-outline-danger" asp-controller="KhachHang" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                        </td>
                    </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                    </div>
                </div>
                <form asp-controller="cart" asp-action="AddDiscount">

                    <div class="row">
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>