@model ShopQuanAo.Models.KhachHangModels


<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
    </div>
</div>
@{
    string render(int status)
    {
        string statusName = "";
        if (status == 0)
        {
            statusName = "Waiting";
        }
        else if (status == 1)
        {
            statusName = "Processing";
        }
        else if (status == 2)
        {
            statusName = "Delivery";
        }
        else if (status == 3)
        {
            statusName = "Completed";
        }
        else
        {
            statusName = "Deleted";
        }
        return statusName;
    }

    string renderPoint(double point)
    {
        string pointName = "";
        if (point == 0 || point == 100 || point == 200)
        {
            pointName = "Silver";
        }
        else if (point == 300)
        {
            pointName = "Gold";
        }
        else
        {
            pointName = "Diamond";
        }
        return pointName;
    }

    double point = Model.PointMember;
}
<div class="container">
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="site-section">
                <div class="site-blocks-table">
                    <h2 style="color:red">Member:  @renderPoint(point)</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th class="product-thumbnail">Customer</th>
                            <th class="product-name">CustomerName</th>
                            <th class="product-quantity">Discount</th>
                            <th class="product-total">Shipping</th>
                            <th class="product-price">Total</th>
                            <th class="product-total">OrderDate</th>
                            <th class="product-remove">Status</th>
                        </tr>
                        @foreach (var item in Model.Orders)
                        {
                            <tr>
                                <td class="product-thumbnail">
                                    <h2 class="h5 text-black">@Html.DisplayFor(modelItem => item.KhachHang)</h2>
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">@Html.DisplayFor(modelItem => item.CustomerName)</h2>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.GiaGiam)</td>
                                <td>@Html.DisplayFor(modelItem => item.Shipping)</td>
                                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                <td>
                                    @render(item.StatusID)
                                </td>
                                @if(item.StatusID == 3 || item.StatusID == -1)
                                {
                                    <td hidden>
                                        <a class="btn btn-outline-danger" asp-controller="KhachHang" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a class="btn btn-outline-danger" asp-controller="KhachHang" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>