@model ShopQuanAo.Models.Order
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


    <div id="layoutSidenav_content">
        <main>
            <div>
                <h3>Chi tiết đơn hàng</h3>
                <hr />
                <div class="row">
                    <div class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-3">
                                Mã đơn hàng
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Code)
                            </dd>
                            <dt class="col-sm-3">
                                Tên khách hàng:
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.CustomerName)
                            </dd>
                            <dt class="col-sm-3">
                                Địa chỉ
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model =>
                                model.Address)
                            </dd>
                            <dt class="col-sm-3">
                                Số điện thoại
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model =>
                                model.Phone)
                            </dd>
                            <dt class="col-sm-3">
                                Giá giảm
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model =>
                                model.GiaGiam)
                            </dd>
                            <dt class="col-sm-3">
                                Tổng tiền
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model =>
                                model.Total)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Tên sản phẩm</td>
                                <td>Hình ảnh</td>
                                <td>Số lượng</td>
                                <td>Đơn giá</td>
                                <td>Tổng tiền</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Order != null)
                            {
                                int i = 1;
                                @foreach (var item in ViewBag.Order)
                                {
                                    <tr>

                                        <td>@(i++)</td>
                                        <td>@item.SanPham.TenSP</td>
                                        <td><img src="~/images/@item.SanPham.HinhSP" class="img-thumbnail" width="100px" height="100px" alt="Sản phẩm" /></td>
                                        <td>@item.SoLuong</td>
                                        <td>@item.SanPham.DonGia</td>
                                        <td>@(item.SoLuong * @item.SanPham.DonGia)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div style="margin-right: 15px">
                    <a class="btn btn-outline-warning" asp-action="Index">Quay về</a>
                </div>
                <div>
                    <form asp-action="Detail">
                        <input type="hidden" asp-for="OrderId" />
                        <input type="submit" value="Hoàn tất" class="btn btn-danger" onclick=" return confirm('Hoàn tất đơn hàng này?');" />
                    </form>
                </div>
            </div>
            

            </main>
        </div>

