@using ShopQuanAo.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@model List<Order>

@{
    string render(int status)
    {
        string statusName = "";
        if (status == 0)
        {
            statusName = "Waiting";
        }
        else if (status == 1)
        {
            statusName = "Processing";
        }
        else if(status == 2)
        {
            statusName = "Delivery";
        }
        else if (status == 3)
        {
            statusName = "Completed";
        }
        else
        {
            statusName = "Deleted";
        }
        return statusName;
    }
}
<style>
    .row {
        position: relative;
        margin-bottom: 15px;
    }

    .filter {
        margin-top: 30px;
        margin-right: 20px;
    }
</style>

<div id="layoutSidenav_content">
    <main>
        <div style="position:center">
            <form class="filter" asp-action="Index">
                <div class="row">
                    <select style="padding:5px" name="statusID">
                        <option value="-100">Tất cả</option>
                        <option value="-1">Đã hủy</option>
                        <option value="0">Chờ xử lý</option>
                        <option value="1">Đang xử lý</option>
                        <option value="2">Giao hàng</option>
                        <option value="3">Hoàn tất</option>
                    </select>
                </div>
                <div class="row">
                    <label for="timeStart">Từ ngày: </label>
                    <input type="datetime-local" id="timeStart" name="timeStart">
                    <label style="margin-left:15px;" for="timeEnd">Đến ngày: </label>
                    <input type="datetime-local" id="timeEnd" name="timeEnd">
                </div>
                
                <input type="submit" value="Tìm kiếm" class="btn btn-outline-secondary" />
            </form>
        </div>

        <h3>Count: @Model.Count</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Tên khách hàng</td>
                    <td>Email</td>
                    <td>Số điện thoại</td>
                    <td>Tổng tiền</td>
                    <td>Ngày đặt hàng</td>
                    <td>Trạng thái</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.CustomerName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Total</td>
                        <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td>@render(item.StatusID)</td>
                        <td>
                            <a class="btn btn-outline-info" asp-controller="Order" asp-action="Detail" asp-route-id="@item.OrderId">Xem</a>
                            <a class="btn btn-outline-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@item.OrderId">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </main>
</div>