@model ShopQuanAo.Models.Discount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QRCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QRCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExpired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExpired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiscountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
